    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Us</h2>
                    <p><b>To define is to limit whereas an ART is endless</b></p>
                    <p>Some things don’t have a price tag so do our MEMORIES</p>
                    <p>We see you just as you see us and we bring the life/soul to your moment with the art that drives you down in your memory lane</p>
                    <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>