    <!-- gallery Section -->
    <section id="gallery" class="content-section text-center">
        <div class="gallery-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Visit My Gallery</h2>
                    	<!--<div id=size class="col-md-3 gallery-grid gallery1">
						<a class="swipebox"><img src="gallery/images/5.jpg" class="img-responsive" alt="/">
						</div></a>
						
						<div id=size class="col-md-3 gallery-grid gallery1">
						<a  class="swipebox"><img src="gallery/images/4.jpg" class="img-responsive" alt="/">
						</div></a>
						
						<div id=size class="col-md-3 gallery-grid gallery1">
						<a  class="swipebox"><img src="gallery/images/5.jpg" class="img-responsive" alt="/">
						</div></a>
						
						<div id=size class="col-md-3 gallery-grid gallery1">
						<a  class="swipebox"><img src="gallery/images/4.jpg" class="img-responsive" alt="/">
						</div></a>-->
						
                    <p></p>
                    <a href="gallery/index.html" class="btn btn-default btn-lg">My Art Gallery</a>
                </div>
            </div>
        </div>
    </section>