    <!-- gallery Section -->
    <section id="gallery" class="content-section text-center">
        <div class="gallery-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Visit My Gallery</h2>
                    <p></p>
                    <a href="http://jeevananthamg.github.io/startbootstrap-full-slider/" class="btn btn-default btn-lg">Visit Gallery Page</a>
                </div>
            </div>
        </div>
    </section>