    <!-- Pricing Section -->
    <section id="pricing" class="content-section text-center">
        <div class="pricing-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>It's not free</h2>
                    <p>Naveen will update pricing section, As of now check below.</p>
                    <a href="https://www.facebook.com/1523866844592234/photos/rpd.100001646242276/1566076537037931/?type=3" class="btn btn-default btn-lg">Visit Facebook Page</a>
                </div>
            </div>
        </div>
    </section>