    <!-- Pricing Section -->
    <section id="pricing" class="content-section text-center">
        <div class="pricing-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
<div class="price" id="Pricing">
	<div class="container">
		<div class="price-main">
			<div class="price-top">
				<h3>PRICING</h3>
				<h4>To be filled by naveen </h4>
			</div>
			
			<div class="price-bottom">
				<div class="col-md-4 order">
				    <div class="price-grid">
					    <h3>A3</h3>
					    <span class="price-line"> </span>
					    <ul>
						    <li><a href="#"><i> </i>Single Portrait</a></li>
					    </ul>
						<h4>10+  Photo</h4>
						<h5>$150</h5>
						<span class="pricebott-line"> </span>
						<h6>ORDER</h6>
				    </div>
				</div>
				<div class="col-md-4 order">
				    <div class="price-grid">
					    <h3>A3</h3>
					    <span class="price-line"> </span>
					    <ul>
						    <li><a href="#"><i> </i>Double Portrait</a></li>
					    </ul>
						<h4>10+  Photo</h4>
						<h5>$150</h5>
						<span class="pricebott-line"> </span>
						<h6>ORDER</h6>
				    </div>
				</div>
				<div class="col-md-4 order no-mar">
				    <div class="price-grid">
				    	<h3>A3</h3>
				    	<span class="price-line"> </span>
				    	<ul>
				    		<li><a href="#"><i> </i>Double Portrait<a style="font-size:15px;" >(Marriage Photos)</a></a></li>
				    	</ul>
						<h4>10+  Photo</h4>
						<h5>$150</h5>
						<span class="pricebott-line"> </span>
						<h6>ORDER</h6>
				    </div>
				</div>
			    <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
                    <!--<h2>It's not free</h2>
                    <p>Naveen will update pricing section, As of now check below.</p>
                    <a href="https://www.facebook.com/1523866844592234/photos/rpd.100001646242276/1566076537037931/?type=3" class="btn btn-default btn-lg">Visit Facebook Page</a>-->
                </div>
            </div>
        </div>
    </section>